@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@500&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background: url("https://img.freepik.com/free-photo/3d-abstract-wave-pattern-background_53876-104422.jpg?w=2000");
  font-family: "Bree Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header{
  text-align: center;
  color: #ffffff;
}

.app {
  background: linear-gradient(5deg, #20BF55 0%, #01BAEF 100%);
  width: 95%;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}





.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient( #20BF55 0%, #01BAEF 100%);
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #234668;
  cursor: pointer;
}


button:hover {
  background-color: #1b295c;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}